/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,*::after,*::before{
    margin: 0;
    box-sizing: inherit;
    padding: 0;
}

html{
    font-size: 62.5%;
    /* it better to use a percentage so users can change font size manually */
}
body{

    font-family: "Lato",sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color:#777;
    padding: 3rem;
    box-sizing: border-box;

}

.header{
    position: relative;
    height: 95vh;
    background-image:
     linear-gradient(
    to right bottom
    ,rgba(126,213,111,0.8),
    rgba(40,180,131,0.8))
    ,url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0,100% 75vh, 0 100%) ;
    
    /* topLeft topRight bottomLeft bottom Right */
    /* xy,xy,xy,xy */
}
.header__logo-box{
    position: absolute;
    top:4rem;
    left:4rem;
    
}
.header__logo{
    height: 3.5rem;
    transform: scale(1.0);
}
.header__logo:hover{
    animation: moveInRight 2s ease-out;
    backface-visibility: hidden;
}
.header__text-box{
    position: absolute;
    top:40%;
    left:50%;
    /* positiion is in realtion to the parent */
    /* tranform is in relation to the element it self */
    transform: translate(-50%,-50%);
    /* this will switch it back to the center */
    /* that is a trick to center an element with in an element */
    text-align: center;
    
}
.heading-primary{
    color:white;
    text-transform: uppercase;
    backface-visibility: hidden;
    /* backface-visibility:  to hidden fixes some animation shaking bugs; */
    margin-bottom: 6rem;
}

.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    color: white;

    /* animation-delay: 3s;  */
    /* animation delay wait for some time and then start animation */

    /* animation-iteration-count:3; */
    /* animation loop */


}
.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation:  moveInRight 1s ease-in forwards;
    color: white;

}

.btn:link,.btn:visited{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    /* visited is the state when the link has been visited beforek */
    border-radius: 10rem;
    transition: all 0.5s ease-out;
    padding: 1.5rem 4rem;
    display: inline-block;
    font-size: 1.6rem;
}
.btn:hover{

    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
    /* first arguement is x offet then y offset the bluroffset and then the color of the shadow */

}
.btn:active{

    transform: translateY(-0.2rem);
    /* active is when the link is being clicked */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);

}
.btn--white{
    display: inline-block;
    background-color: white;
    padding: 1.5rem 4rem;
    color:black;

}
.btn::after{
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all 0.5s ease-out;
    background-color:white;

}
.btn-white::after{
    background-color: rgb(255, 255, 255);
}
.btn:hover::after{

transform: scaleX(1.4) scaleY(1.6);

opacity: 0;
}
.btn--animated{
    animation: moveInTop 1s ease-out 0.75s;
    animation-fill-mode: backwards;
    /* this applies the 0 animation before it even starts */
    /* this animation fill mode applies what ever properties tat are  */
    /* at the 0% of the animation before it even starts */
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-8rem);

    }

    60%{
        /* transform: rotate(5deg); */
    }
    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(8rem);

    }
    60%{
        /* transform: rotate(10deg); */
    }
    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(25rem);

    }
   
    100%{
        opacity: 1;
        transform: translate(0);

    }
}