.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }
  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0rem 3rem;
  }

  // not is simply not
  @include clearfix;
  // .row:not() specify another pesude class
  [class^="col-"] {
    float: left;
    // so this is for every class that starts with col-
    // gets these properties applied to it
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      
     
      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
     
    }
    @include respond(tab-port) {
      width: 100% !important;
    }
   
  }
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - (#{$gutter-horizontal}* 2)) / 3);
  
  }

  .col-1-of-4 {
    width: calc((100% - (#{$gutter-horizontal}* 3)) / 4);
  }

  .col-2-of-3 {
    width: calc(((100% - (#{$gutter-horizontal}* 2)) / 3)*2 + #{$gutter-horizontal});

    // this is equal to 2 time the width of 1 of 3s + the width of te margin right between them
    margin-right: 0;
  }
  .col-3-of-4 {
    width: calc(((100% - (#{$gutter-horizontal}* 3)) / 4)*3 + (#{$gutter-horizontal}*2));
    // so this equal to the widht of 3 1 of 4s + the two margin rights between them
  }
  .col-2-of-4 {
    width: calc(((100% - (#{$gutter-horizontal}* 3)) / 4)*2 + #{$gutter-horizontal});

  }
}
