.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark,0.8)),
      url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  
    /* topLeft topRight bottomLeft bottom Right */
    /* xy,xy,xy,xy */
    &__logo-box{
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
    &__logo{
      height: 3.5rem;
      transform: scale(1);
      
      &:hover{
        animation: moveInRight 2s ease-out;
        backface-visibility: hidden;
      }
    }
  
    &__text-box{
  
      position: absolute;
      top: 40%;
      left: 50%;
      /* positiion is in realtion to the parent */
      /* tranform is in relation to the element it self */
      transform: translate(-50%, -50%);
      /* this will switch it back to the center */
      /* that is a trick to center an element with in an element */
      text-align: center;
    }
  
    
  }
  
  
  
  
 