.popup {
    position: fixed;
    left:0;
    top:0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    background-color: rgba($color-black,0.8);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

   
    &__content {
    background-color: $color-white;
    
    width: 70%;
    box-shadow: 0 2rem 4rem rgba($color-black,0.3);
    border-radius: 3px;
   @include center;
   transform: translate(-50%,-50%) scale(0.2);
   display: table;
   overflow: hidden;
   opacity: 0;
   transition: all .5s .2s;
    
  }
  &__left{
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle;
    // thats the best way of floating 2 boxexs using table cells and alligin items 
  }
  &__right{
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

  }
  &__img{
      display: block;
      width: 100%;
  }
  &__text{
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-dark-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-dark-2;
    -moz-hyphens: auto;
    -msh-yphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

//   openstates
  &:target{
    opacity: 1;
     visibility: visible; 
    }
    &:target &__content{
        opacity: 1;
   transform: translate(-50%,-50%) scale(1);

    }
  &__close{
      &:link,&:visited{
          color: $color-grey-dark-2;
          position: absolute;
          top:2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            display: inline-block;
            text-decoration: none;
            line-height: 1;

        }
        &:hover{
            color:$color-primary;
        }
  }
}
